<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<div class="checkout-registration container">
  <div class="row col-xs-12 col-lg-11 mx-auto" style="background-image: url('')">
    <div class="col-xs-12 col-lg-6">
    </div>
    <div class="col-xs-12 col-lg-6">
      <%= render partial: 'spree/shared/login' if defined?(spree_login_path) %>
    </div>
  </div>
</div>
