<div class="border-top pl-4 pr-4  footer-spree-copyright">
 
      
  <div class="d-flex justify-content-between">
    <div class="p-2 bd-highlight"> <div> © <%= Time.current.year %>  <%= link_to current_store.name, "https://#{current_store.url}" %>.</div> </div>
    <div class="p-2 bd-highlight"> <img src="https://illugraph-ic.com/wp-content/uploads/2021/03/Groupe-16.png"  width="400px" class="img-fluid " alt=""></div>
    <div class="p-2 bd-highlight"> <div style="color:black">Tous droits réservés</div></div>
  </div>
      
  
</div>
