<% cache spree_nav_cache_key('footer') do %>
  <footer id="footer" class="pt-2 mx-auto footer-spree" data-turbolinks-permanent style="background-color:#ffffff  ">
  <div class="d-md-block d-none"> 
            <div class="newsfooter d-flex justify-content-between col-12" style="padding-left:30px; padding-right:30px">
        <div>	<p class="mr-4">Inscrivez vous a notre newsletter:</p> </div>
          <form method="POST" action="">
            

          <div class="d-flex  bd-highlight">
            <div class=" bd-highlight"></div>
              <div class="pb-1 bd-highlight"><input type="text" class="nwlterBTn" size="50" name="email" placeholder="votre mail"></div>
            <div class=" bd-highlight"><input type="submit" value="S'abonner"></div>
          </div>
          </form>
      </div>
  
  </div>
  
  <div class="container">
   
      <div class="row d-none d-xl-flex text-uppercase footer-spree-menu-links mt-3 mb-3">
        <% if spree.respond_to?(:account_path) %>
          <div class="col-3 ">
            <%= image_tag "logo.png", width: "250px", class: "img-fluid" %>
          </div>
        <% end %>
        <% if spree_navigation_data.any? %>
          <% spree_navigation_data.first(3).each do |root| %>
            <div class="col-3">
              <div class="footer-spree-label">
                <%= link_to root[:title], root[:url] %>
              </div>
              <% if  root[:items].present? %>
                <% root[:items].each do |item| %>
                  <div class="pt-2"><%= link_to item[:title], item[:url] %></div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      
      </div>
    </div>
    <%= render 'spree/shared/copyright' %>
  </footer>
<% end %>
