<% cache spree_nav_cache_key('footer') do %>
  <footer id="footer" class="pt-2 mx-auto border-top footer-spree" data-turbolinks-permanent>
    <div class="row d-xl-flex justify-content-xl-around pb-xl-5 ml-4 mr-4">
      <!-- First column -->
      <div class="d-flex flex-column col-sm-6 col-md-4 col-lg-2">
        <% if spree.respond_to?(:account_path) %>
          <div>
            <%= image_tag "logo.png", width: "250px", height: "250px", class: "img-fluid" %>
          </div>
        <% end %>
        <% if current_store.description %>
            <div class="d-none d-xl-block pt-xl-2 footer-spree-info">
              <%= current_store.description %>
            </div>
          <% end %>
      </div>
       <!-- Second column -->
      <div class="d-flex flex-column col-sm-6 col-md-4 col-lg-2">
        <h4 class="footer-head-title"> SERVICE CLIENT </h4>
        <span class="footer-link"> Centre d'assistance</span>
        <span class="footer-link"> Méthodes de paiement</span>
        <span class="footer-link"> Méthodes de livraison</span>
        <span class="footer-link"> Politique de retour</span>
        <span class="footer-link"> Signaler un produit</span>
      </div>
       <!-- Third column -->
      <div class="d-flex flex-column col-sm-6 col-md-4 col-lg-2">
        <h4 class="footer-head-title"> A PROPOS </h4>
        <span class="footer-link"> Qui sommes-nous?</span>
        <span class="footer-link"> C.G.U</span>
        <span class="footer-link"> Propiete intellectuelle</span>
        <span class="footer-link"> Politique de confidentialite</span>
        <span class="footer-link"> Yeewu Tiers</span>
      </div>
       <!-- Four column -->
      <div class="d-flex flex-column col-sm-6 col-md-4 col-lg-2">
        <h4 class="footer-head-title"> APPEL D'OFFRES / ENCHERES </h4>
        <span class="footer-link"> Vendez sur Yeewu</span>
        <span class="footer-link"> Deposez une annonce</span>
        <span class="footer-link"> Conditions d'appels d'offres</span>
        <span class="footer-link"> Vendeurs certifies</span>
        <span class="footer-link"> Espace publicitaires</span>
      </div>
       <!-- Five column -->
      <div class="d-flex flex-column col-sm-6 col-md-4 col-lg-2">
        <h4 class="footer-head-title"> NOS CONTACTER </h4>
        <span class="footer-link"> Service client</span>
        <span class="footer-link"> Carrieres et emplois</span>
        <span class="footer-link"> Devenir un partenaire logistique</span>
        <span class="footer-link"> Devenir un vendeur certifie</span>
        <span class="footer-link"> Investisseurs et collaborateurs</span>
      </div>
       <!-- Six column -->
      <div class="d-flex flex-column col-sm-6 col-md-4 col-lg-2">
        <div class="d-flex flex-column mb-2">
          <span class="footer-head-title">Retrouvez-nous sur</span>
          <div class="d-flex justify-content-around mr-2 " style="width:180px  !important; font-size: 1.8em !important">
             <span><i class="fa fa-facebook text-white"></i></span>
             <span><i class="fa fa-twitter  text-white"></i></span>
             <span><i class="fa fa-instagram  text-white"></i></span>
             <span><i class="fa fa-linkedin  text-white"></i></span>
          </div>
        </div>
        <div class="d-flex flex-column mb-2">
          <span class="footer-head-title">Mode de paiement</span>
         <div class="d-flex justify-content-around mr-2 " style="width:180px  !important; font-size: 1.8em !important">
             <span><i class="fa fa-credit-card text-white"></i></span>
             <span><i class="fa fa-coins  text-white"></i></span>
             
          </div>
        </div>
      </div>

    </div> 
    <%= render 'spree/shared/copyright' %>
  </footer>
<% end %>