<% if spree_navigation_data.any? %>
  <div class="h-100" role="navigation" aria-label="<%= Spree.t('nav_bar.desktop') %>">
  

          <div class="search-box">
              <input type="text" class="search-input" placeholder="Search..">

              <button class="search-button">
               <i class="fa fa-search mr-2" style="color: #225828"></i>

              </button>
          </div>
      
  </div>
<% end %>
