<div class="mega-menu">

<ul class="d-flex justify-content-between  menu-list">
 
  <li class="menu-item list-hover">
    <a href="#">Collection</a>

    <ul class="mega-sub-menu">
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Style</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Men</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Women</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
     

      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Modern</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Bags</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Shoes</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="menu-item list-hover">
    <a href="#">Collection</a>

    <ul class="mega-sub-menu">
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Style</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Men</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Women</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
     

      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Modern</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Bags</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Shoes</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="menu-item list-hover">
    <a href="#">Collection</a>

    <ul class="mega-sub-menu">
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Style</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Men</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Women</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
     

      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Modern</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Bags</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Shoes</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="menu-item list-hover">
    <a href="#">Collection</a>

    <ul class="mega-sub-menu">
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Style</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Men</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Women</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
     

      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Modern</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Bags</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Shoes</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="menu-item list-hover">
    <a href="#">Collection</a>

    <ul class="mega-sub-menu">
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Style</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Men</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Women</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
     

      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Modern</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Bags</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
      <li class="menu-sub-item menu-sub-item-title">
        <a href="#"> <h3>Shoes</h3> </a>
        <ul>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
          <li class="menu-sub-item-list"><a href="#">Fashion</a></li>
        </ul>
      </li>
    </ul>
  </li>
 
</ul>
</div>
