<%# TODO: Use in cart %>
<div class="d-inline-flex quantity-select ">
  <%= button_tag '-', type: 'button', class: "quantity-select-decrease mt-2" %>
  <%= number_field_tag input_name, 1, min: 1, max: maximum_quantity, class: "mt-2 quantity-select-value", 'aria-label': Spree.t('pdp.quantity') %>
  <%= button_tag '+', type: 'button', class: "quantity-select-increase mt-2" %>
</div>
