<% @body_id = 'home' %>


<div class="container " style="margin-top:6em">
  <h2>Nos catégories</h2>
   <section class=" row">
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/3120sq9i84.jpg " height="150px" >
        <p class="text-center" style="margin-right:1.8em"><strong>Electromenager & Electronique</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/13369429.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Climatiseur & Ventilateurs</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/f857c6af3191b194b3032082add03999.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Chaises & Fauteuilles</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/1-14.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Ordinateurs & Bureau</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/k2-_53f433d8-afec-4e1b-94f2-40a137db6bc4.v1.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Téléviseurs & Home cinéma</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/13369429.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Chambre à coucher</strong></p>
      </div>
     
   </section>
</div>


<div>
    <div class="container">
    <h4> Découvrez les produits les plus vendus du mois, Vous aussi essayez les !</h4>
    </div>
    <div class="row col-md-12" style="height:300px ">
        <div class="col-md-6"  style="background-color: green ">
            <div class="" >
                <div class="col-md-8"  style="background-color: blue ">
                    
                </div>
                <div class="col-md-4" style="background-color: white ">
            </div>
        </div>
        <div class="col-md-6" style="background-color: orange "></div>
    </div>
</div>




<section class="details">
  

</section>

<div class="container" data-ng-app="app">
  <div class="card" data-ng-controller="MainCtrl">
    <div class="card__header">
      <h3 class="card__heading">Angular Slider Directive</h3>
      <h4 class="card__heading--secondary">A Responsive Multi Item - Single Click Angular Slider</h3>
        </div>
    <div class="card__content">
      <mmb-slider 
        dots="true" 
        infinite="false" 
        speed=300 
        slides-to-show=5 
        touch-move="false" 
        slides-to-scroll=1
        list="items"
        class="slider one-time slick-slider">
      </mmb-slider>
    </div>
  </div>
</div>
